* {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 400px;
	padding: 40px;
	color: white;
	background-color: red;
	width: 350px;
	height: 350px;
	text-align: center;
	line-height: 300px;
	margin: 40px;
	transition: 0.3s;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 72px;
	margin: 40px;
}

h3 {

}

.info-block {
	font-family: "Source Code Pro";
	font-size: 16px;
	padding: 40px;
}